.sticky-preview-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 10;
  border: solid 1px;
  width: 30%;
  background-color: #fff;
}

.sticky-preview-wrapper.right {
  right: 0;
}

  .sticky-preview-wrapper .control-bar {
    height: 10px;
    padding: 5px;
    border-bottom: 1px solid;
  }

  .sticky-preview-wrapper .control-bar .button {
    width: 10px;
    height: 100%;
    cursor: pointer;
    border: 1px solid;
    float: right;
  }

    .sticky-preview-wrapper .control-bar .button .icon {
      width: 5px;
      height: 5px;
      border: solid 1px;
      display: none;
    }

  .sticky-preview-wrapper.opened .control-bar .button {
    width: 10px;
    height: 100%;
    cursor: pointer;
    border: 1px solid;
    float: right;
  }

  .sticky-preview-wrapper.opened .control-bar .button .icon {
    width: 100%;
    height: 1px;
    background-color: #000;
    position: relative;
    top: 50%;
    border: none;
    display: block;
  }

  .sticky-preview-wrapper .content {
    margin: 20px;
    max-height: 600px;
    overflow: auto;
  }

  .sticky-preview-wrapper.closed .content {
    display: none;
  }
